
{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}



<div class="d-flex h-100 text-center text-bg-light">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <main class="px-3">
        <h1>Hello.</h1>
        <p class="lead"> Welcome to a System for Providing Discrete and Customisable Communication to Victims of Coercive Control</p>
        <p class="lead">
        <a href="/register" class="btn btn-lg btn-light fw-bold border-white bg-white">Register Now</a>
        </p>
    </main>
    </div>
</div>

    
{% endblock %}